body { 
	color: 800080;
	background-image: url("http://www.hddesktops.com/web/wallpapers/stars-space-universe/4096x2160.jpg");
	border: 0; 
	background-size: 100% auto;
}

.content-container {
    background-color: #666 !important;
    border: 1px solid #666 !important
}

#cijfers-container .main div.content-container-cijfers {
    background-color: #666 !important
}

.header {
    background-color: #222 !important
}

.menu {
    background-color: #222 !important
}

#cijfers-container .main div.content-container-cijfers {
    background-color: #666 !important
}

.head-bar {
    background-color: #800080;
}

#cijfers-leerling .last-grade {
    background-color: #800080;
}