.content-container {
    background-color: #666 !important;
    border: 1px solid #666 !important
}

#cijfers-container .main div.content-container-cijfers {
    background-color: #666 !important
}

div.ngCell,div.ngCellText,div.ngVerticalBar,div.ngHeaderCell,div.ngHeaderContainer {
    color: #800080 !important
}